{% extends 'base.html' %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="deleteEmployeeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                Вы точно хотите удалить этого работника?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Закрыть</button>
                <a href="{% url 'employees:delete_employee' employee.id %}" class="btn btn-danger btn-sm">Удалить</a>
            </div>
        </div>
    </div>
</div>


<div class="p-5 mt-4 rounded bg-light shadow-sm">
    <div class="row row-cols-1">

        <div class="col">
            <div class="pb-4">
                <a href="{% url 'employees:employee_details' employee_slug %}" class="link-primary">Обратно</a>
            </div>
        </div>

        <div class="col">
            <form action="{% url 'employees:edit_employee' employee_slug %}" method="post"
                  enctype="multipart/form-data" novalidate>
                {% csrf_token %}

                <div class="row g-4">

                    <div class="col-lg-4">
                        <div class="d-flex">
                            <span class="fw-bold">Имя:</span>{{ form.first_name }}
                        </div>
                        {% include 'includes/errors.html' with field=form.first_name %}

                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex">
                            <span class="fw-bold">Фамилия:</span>{{ form.second_name }}
                        </div>
                        {% include 'includes/errors.html' with field=form.second_name %}

                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex">
                            <span class="fw-bold">Отчество:</span>{{ form.patronymic }}
                        </div>
                        {% include 'includes/errors.html' with field=form.patronymic %}

                    </div>

                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span class="fw-bold">Дата трудоустройства:</span>
                            <div class="flex-fill pe-2">{{ form.date_employment }}</div>
                        </div>
                        {% include 'includes/errors.html' with field=form.date_employment %}

                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span class="fw-bold">Позиция:</span>
                            {{ form.position }}
                        </div>
                        {% include 'includes/errors.html' with field=form.position %}

                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span class="fw-bold">Начальник:</span>
                            {{ form.parent }}
                        </div>
                        {% include 'includes/errors.html' with field=form.parent %}

                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <span class="fw-bold">Зарплата:</span>
                            {{ form.payment }}
                        </div>
                        {% include 'includes/errors.html' with field=form.payment %}
                    </div>
                    <div class="col-lg-4">
                        <div class="">
                            <p class="file-upload">
                                <span class="fw-bold">Загрузить новое фото:</span>
                                {{ form.employee_photo }}
                            </p>
                            {% include 'includes/errors.html' with field=form.employee_photo %}
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <input type="submit" value="Сохранить" class="btn btn-primary btn-primary-sm">
                    <input type="button" value="Удалить работника" class="btn btn-outline-danger btn-outline-danger-sm" data-bs-toggle="modal" data-bs-target="#deleteEmployeeModal">
                </div>
            </form>
        </div>

    </div>

</div>
{% endblock %}