{% extends 'base.html' %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="deletePhotoModal" tabindex="-1" aria-labelledby="deletePhotoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        Вы точно хотите удалить фото?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Закрыть</button>
        <a href="{% url 'employees:delete_photo' employee.id %}" class="btn btn-danger btn-sm">Удалить</a>
      </div>
    </div>
  </div>
</div>


<div class="p-5 mt-4 rounded bg-light shadow-sm">
    <div class="row">
        <div class="col-lg-4">
            <img src="{{ employee.employee_photo.url }}" alt="Фото пользователя" class="rounded shadow">
        </div>


        <div class="col-lg-8">
            <div class="row g-3">

                <div class="col-auto">
                    <div class="mb-3 fs-5">
                        <span class="fw-bold">ФИО:</span>
                        <span>{{ employee.second_name}} {{ employee.first_name }} {{ employee.patronymic }}</span>
                    </div>
                    <div>
                        <span class="fw-bold">Начальник:</span>
                        {% if employee.parent %}
                        <a href="{{ employee.parent.get_absolute_url }}" class="text-decoration-none"><span>{{ employee.parent }}</span></a>
                        {% else %}
                        <span>-</span>
                        {% endif %}
                    </div>
                    <div>
                        <span class="fw-bold">Должность:</span>
                        <span>{{ employee.position }}</span>
                    </div>
                    <div>
                        <span class="fw-bold">Дата трудоустройства:</span>
                        <span>
                            {{ employee.date_employment|date:"G:H:s," }}
                            {{ employee.date_employment|date:"F j, o" }}
                            </span>
                    </div>
                    <div>
                        <span class="fw-bold">Зарплата:</span>
                        <span>${{ employee.payment }}</span>
                    </div>
                </div>
                <div class="col-12">
                    <a href="{% url 'employees:edit_employee' employee.slug %}" class="btn btn-primary">Изменить</a>
                    {% if employee.employee_photo != default_employee_image %}
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePhotoModal">
                        Удалить фото
                    </button>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>


</div>
{% endblock %}