{% extends 'base.html' %}

{% block content %}
<div class="mt-4">
    <table class="table table-secondary table-striped">
        <thead>
        <tr>
            <th scope="col">ФИO</th>
            <th scope="col">Должность</th>
            <th scope="col">Зарплата</th>
            <th scope="col">Дата приема на работу</th>
            <th scope="col">Начальник</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td class="align-middle">
                    <a href="{{ employee.get_absolute_url }}" class="text-decoration-none">{{ employee.second_name}} {{ employee.first_name }} {{ employee.patronymic }}</a>
                </td>
                <td class="align-middle">{{ employee.position.title }}</td>
                <td class="align-middle">${{ employee.payment }}</td>
                <td class="align-middle">
                    {{ employee.date_employment|date:"F j, o" }}
                    <br>
                    <small>{{ employee.date_employment|date:"G:H:s" }}</small>
                </td>
                <td class="align-middle">{% if employee.parent %}{{ employee.parent }}{% else %} - {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}