{% extends 'base.html' %}

{% block content %}

{% if positions %}
<div class="mt-4">
    <table class="table table-light table-striped shadow-sm">
        <thead>
        <tr>
            <th scope="col">Название</th>
        </tr>
        </thead>
        <tbody>
        {% for position in positions %}
        <tr>
            <td class="align-middle">
                <a href="{{ position.get_absolute_url }}" class="text-decoration-none">{{ position.title }}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="p-4 mt-4 rounded bg-light shadow-sm">
    <small class="text-secondary">Здесь пока ничего нет</small>
</div>
{% endif %}

<div class="mt-4">
    {% include 'includes/pagination.html' with paginator=positions current_page=positions.number %}
</div>

{% endblock %}