<section>
    <div class="container">
        <div class="rounded bg-light mt-4 p-4 shadow-sm">
            <div class="row g-2">
                <div class="col-lg-auto col-12"><a href="{% url 'employees:home' %}" class="link-dark">Главная страница</a></div>
                <div class="col-lg-auto">
                    <span class="d-lg-flex d-none fw-light">|</span>
                </div>
                <div class="col-lg-auto col-12"><a href="{% url 'employees:employees_list' %}" class="link-dark">Список всех сотрудников</a></div>
                <div class="col-lg-auto col-12"></div>
            </div>
        </div>
    </div>
</section>